html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

h1{
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
}

.menu-item {
  width: 23%;
}

.menu {
    background-color: #999;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}

/* Style the links inside the navigation bar */
.menu img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.menu img:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.menu img.active {
    background-color: #4CAF50;
    color: white;
}