section {
	border-style:solid;
	border-color: grey;
	border-width:0.5px;
	margin:1px;
	padding:1px;
	text-align: center;
}

h1{
	font-size: 100px;
	text-align: center;
}

p{
	font-size: 75px;
	text-align: center;
}

.menu-item {
	padding:35px;
}

.menu {
    background-color: #999;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Style the links inside the navigation bar */
.menu img {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 6.5%;
}

/* Change the color of links on hover */
.menu img:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.menu img.active {
    background-color: #4CAF50;
    color: white;
}

.a{
    color:black;
    text-decoration: none;
}