section {
	border-style:solid;
	border-color: grey;
	border-width:0.5px;
	margin:1px;
	padding:1px;
	text-align: center;
}

h1{
	font-size: 100px;
	margin-left: 30%;
}

p{
	font-size: 75px;
	text-align: center;
}
.menu-item {
	padding:35px;
}